@page "/productos"
@inject IGenericService<Producto> ProductoService
@inject SweetAlertService sweetAlert
<HeaderPage TitlePage="Productos" />


    

@if (productos == null)
{
    <p><em>Obteniendo lista de productos</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in productos)
            {
                <tr>
                   
                    <td>@producto.Id</td>
                    <td>@producto.Nombre</td>
                    <td>@producto.Precio.ToString("N2")</td>
                    <td>
                        <a href="/editarproducto?IdProductoEditado=@producto.Id">Editar</a>
                    </td>
                    <td>
                        <button title="Eliminar" class="btn btn-danger" @onclick="@(()=>Eliminar(producto))">Eliminar</button>

                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
<a href="/nuevoproducto">Agregar Producto</a>

@code {
    private List<Producto> productos;

    protected override async Task OnInitializedAsync()
    {
        productos = await ProductoService.GetAllAsync();
    }

    private async void Eliminar(Producto producto)
    {
        SweetAlertResult respuesta = await sweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Borrando producto",
                Text = $"¿Está seguro que desea borrar a la producto {producto.Nombre}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, quiero borrarlo!",
                CancelButtonText = "No, espera"
            });
        if (respuesta.IsConfirmed)
        {
            await ProductoService.DeleteAsync(producto.Id);
            productos = await ProductoService.GetAllAsync();
            StateHasChanged();
        }
    }
}


