@page "/counter"
@inject ILogger<Counter> Logger

<PageTitle>Counter</PageTitle>

<HeaderPage TitlePage="Ejemplo contador" />

<p role="status">Contador Actual: @currentContador</p>

<button class="btn btn-primary" @onclick="IncrementarContador">Click aquí</button>

@code {
    private int currentContador = 0;

    private void IncrementarContador()
    {
        currentContador++;
        Logger.LogInformation($"Contador incrementado a {currentContador}");
    }

    protected override void OnInitialized()
    {
       Logger.LogInformation($"Página counter iniciada.");
    }
}
